div.background {
    height: 95vh;
    background-image: linear-gradient(180deg, #457B9D, #A8DADC);

}

img.backgroundPic {
    height: 50rem;
}

h3 {
    font-style: italic;
}

h3.Condition {
    font-style: normal;
}

Container.description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 50px;
    gap: 10px;

    position: absolute;
    width: 40vw;
    height: 37vh;
    left: 840px;
    top: 373px;

    /*background: linear-gradient(180deg, rgba(156, 248, 255, 0.3), rgba(168, 218, 220, 0.3));*/
    backdrop-filter: blur(50px);
    background-color: red;

    /* Note: backdrop-filter has minimal browser support */
    border-radius: 25px;
}

div.backgroundPic {
    height: 50rem;
    background-image: url("images/PS5.png");
    background-repeat: no-repeat;
    background-size: 50rem;
}

div.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
