div.behindNav {
    background-color: #457B9D;
}

Link {
    background-color: white;
    height: 5vh;
}

Menu.item {
    background-color: white;
    height: 60vh;
}

div.nav {
    background-color: #E5E5E5;
    height: 7vh;
}