div.background {
    height: 105vh;
    background-image: linear-gradient(180deg, #457B9D, #A8DADC);
    display: flex;
    flex-direction: column;
    align-items: center;


}

img.backgroundPic {
    height: 50rem;
}

h3 {
    font-style: italic;
}

h3.Condition {
    font-style: normal;
}

div.description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 37vh;
    background: linear-gradient(180deg, rgba(156, 248, 255, 0.3) 0%, rgba(168, 218, 220, 0.3));
    /*backdrop-filter: blur(50px);*/
    /*background-color: red;*/
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 25px;
    box-shadow: 10px 10px 5px;
}

.card_description {
    min-width: 45vw;
    height: 30%;
    font-weight: bold;
    font-size: 2vh;
}

p.description {
    text-align: center;
    color: white;
    font-weight: bold;
}

div.backgroundPic {
    height: 50rem;
    /*background-image: url("PS5.png");*/
    background-repeat: no-repeat;
    background-size: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

div.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
