.item-card-body {
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.item-card-price {
  text-align: center;

  font-style: normal;
  font-size: 1.5rem;
}

.price-n-quantity {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding-bottom: 1rem;
}

.product-list-body {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 10vw;
  padding-right: 10vw;
}

.product-list-sort-selection {
  width: inherit;
  text-align: center;
  vertical-align: middle;

  padding-bottom: 1rem;
  justify-content: space-around;
}

.product-list-item-cards {
  padding-top: 2rem;
}

.item-card-cart-n-wishlist {
  display: flex;
}
