.cart-page-body{
    width: 100vw;
    height: 70vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 10vw;
    padding-right: 10vw;
}

.cart-page-order-details {
    text-align: right;
}

.cart-page-order-section-end{
    padding: 1rem;
    text-align: center;
}