.wishlist-body{
    padding-left: 10vw;
    padding-right: 10vw;
}

.no-items-in-cart-message{
    display: flex;
    justify-content: center;
    width: 100vw;
}

.wishlist-item-buttons {
    display: flex;
}