.login-page-body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.form-input-boxes {
  display: flex;
  justify-content: center;
}
